In [2]:
import pandas as pd

# sample dataframe

df = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'], 'C': [1, 2, 3]}) ; df

   A  B  C
0  a  b  1
1  b  a  2
2  a  c  3

In [3]:
# a list made of categorical columns

categorical_columns = [i for i in df.columns if df[i].dtype.name == 'object']; categorical_columns

['A', 'B']

In [5]:
# apply label encoding

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for x in df.select_dtypes(include=['object']):
    df[x] = le.fit_transform(df[x])

print(df.dtypes) # all column turned int after label encoding

df # label encoding applied

A    int32
B    int32
C    int64
dtype: object

   A  B  C
0  0  1  1
1  1  0  2
2  0  2  3

In [6]:
# Checking different scenarios of using get_dummies on the label encoded dataframe

df1 = pd.get_dummies(df); print(df1)

   A  B  C
0  0  1  1
1  1  0  2
2  0  2  3

In [7]:
df2 = pd.concat([df.drop('C', axis = 1), pd.get_dummies(df)], axis=1) ;print(df2)

   A  B  A  B  C
0  0  1  0  1  1
1  1  0  1  0  2
2  0  2  0  2  3

In [8]:
df3 = pd.concat([df, pd.get_dummies(df['A'])], axis=1) ; print(df3)

   A  B  C  0  1
0  0  1  1  1  0
1  1  0  2  0  1
2  0  2  3  1  0

In [9]:
df4 = pd.concat([df, pd.get_dummies(data = df, columns=['A', 'B'])], axis=1) ; print(df4)

   A  B  C  C  A_0  A_1  B_0  B_1  B_2
0  0  1  1  1    1    0    0    1    0
1  1  0  2  2    0    1    1    0    0
2  0  2  3  3    1    0    0    0    1

In [10]:
df5 = pd.concat([df, pd.get_dummies(df[categorical_columns])], axis=1) ; df5

   A  B  C  A  B
0  0  1  1  0  1
1  1  0  2  1  0
2  0  2  3  0  2